<!-- 
--ORIGINAL CODE--
<!DOCTYPE html>
<html>
    <head>
        <title>Recipe App</title>
    </head>
    <body>
        <h1>Welcome to the Recipe App</h1>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="/recipe/{{ recipe.id }}"><strong>{{ recipe.title }}</strong></a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
-->

{% extends "base.html" %}
{% block title %}Recipe App{% endblock %}
{% block content %}
    <h1>Welcome to the Recipe App</h1>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="/recipe/{{ recipe.id }}"><strong>{{ recipe.title }}</strong></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}